[submodule "src/external_modules/xarm_ros2"]
	path = /src/external_modules/xarm_ros2
	url = https://github.com/xArm-Developer/xarm_ros2.git
	branch = humble
[submodule "src/external_modules/gazebo_ros2_control"]
	path = /src/external_modules/gazebo_ros2_control
	url = https://github.com/ros-controls/gazebo_ros2_control.git
[submodule "src/etf_modules/RPMPLv2"]
	path = /src/etf_modules/RPMPLv2
	url = https://github.com/dinkoosmankovic/RPMPLv2.git